<div class="ga_page_bar">
    <div class="row">
        <h2>All Events</h2>
        <a class="event_add_event" ng-href="#/events/new">Create an Event</a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns ga_search">
        <input class="ga_search_bar" type="text" ng-model="query" placeholder="Search for events">
    </div>
    <div class="large-12 columns">
        <div>
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                <li ng-repeat="(key, event) in events | orderBy: 'event_date' | filter: {$: query}">
                    <div class="ga_event" ng-init="updateStatus(event, event.$id)" >
                        <div class="ga_delete_ribbon close-ribbon tool-tip" ng-show="currentUsersEvent(event)" ng-click="deleteEvent(key)">
                            <a class="ga_delete_x">&times;</a>
                            <span>Delete this event</span>
                            <!--<i class="fa fa-trash tool-tip" aria-hidden="true" ng-click="deleteEvent(key)"><span>Delete this event</span></i>-->
                        </div>
                        <!--<div class="event_card_img" ng-class="setCardImg(event.activity_type)" >

                        </div>-->
                        <div class="event_show">
                            <h3 class="event_name">{{ event.name }}</h3>
                            <p class="event_actity_type">{{ event.activity_type }}</p>

                            <p class="event_date">
                                {{ event.event_date | date: 'EEE, MMM d' }}
                            </p>
                            <p class="event_times">
                                {{ event.event_start_time | date: 'h:mm a'}} - {{ event.event_end_time | date: 'h:mm a' }}
                            </p>
                            <p class="event_attending" ng-class="enoughPlayers(event.players_attending, event.players_required)">Players Attending / Required:
                                <br>
                                <span class="players_attending">{{ event.players_attending }}</span>
                                <span>&nbsp;/&nbsp;</span>
                                <span class="players_required">{{ event.players_required }}</span>
                            </p>
                            <h4 class="event_show_location">Location: <br><span>{{ event.location }}</span></h4>
                            <h5 class="event_show_players_attending"></h5>

                            <p class="event_status" ng-class="statusClass(event.eventstatus)">
                                Event is {{ event.eventstatus }}
                            </p>
                        </div>

                        <a class="ga_btn event_show_btn" ng-href="#/events/{{event.$id}}">Details</a>
                    </div>
                </li>
            </ul>
        </div><!-- meetings cf -->
    </div>
</div>
