<div class="row">
    <div class="large-12 columns">


        <div class="card meetings cf">
            <a class="event_addEvent" ng-href="#/events/new">Create an Event</a>
            <!--
            <div class="textintro">
                <h1>Add an Event</h1>
                <p>
                Type an event name and hit +
                </p>
            </div>

            <form class="formgroup addmeeting cf" name="myform" ng-submit="addEvent()" novalidate >
                <!-- Event Name
                <input type="text" name="eventname" placeholder="Event name"
                    ng-model="eventname" ng-required="true">

                <!-- Activity Type
                <select ng-model="activitytype" ng-required="true">
                    <option selected="true" disabled="disabled" value="">
                        Select an Activity Type
                    </option>
                    <option value="soccer">
                        Soccer
                    </option>
                    <option value="football">
                        Football
                    </option>
                    <option value="basketball">
                        Basket Ball
                    </option>
                </select>

                <!-- Players Required
                <input type="number" name="players_required" placeholder="Players Required"
                    ng-model="playersrequired" ng-required="true">

                <!-- Location
                <input type="text" name="location" placeholder="Location"
                    ng-model="location" ng-required="true">

                <!-- Summary
                <input type="text" name="summary" placeholder="Message to Players"
                    ng-model="summary" >

                <!-- Skill Level
                <select ng-model="skill" ng-required="true">
                    <option selected="true" disabled="disabled" value="">
                        Required Skill
                    </option>
                    <option value="all">
                        All levels welcome
                    </option>
                    <option value="intermediate">
                        Intermediate
                    </option>
                    <option value="advanced">
                        Advanced
                    </option>
                    <option value="expert">
                        Expert
                    </option>
                </select>


                <button type="submit" class="btn" ng-disabled="myform.$invalid">+</button>
            </form>
            -->
            <h2>All Events</h2>
            <div class="meeting" ng-repeat="(key, event) in events">
                <i class="fa fa-trash tool-tip" aria-hidden="true" ng-click="deleteEvent(key)"><span>Delete this event</span></i>

                <div class="event_show">
                    <span class="text">{{ event.name }}</span>
                    <span class="text">{{ event.activity_type }}</span>
                    <span class="text">{{ event.players_required }}</span>
                    <h4 class="event_show_location">{{ event.location }}</h4>
                    <h5 class="event_show_players_attending">{{ event.players_attending }}</h5>
                    <p class="summary">{{ event.summary }}</p>
                </div>

                <a class="btn" ng-href="#/events/{{event.$id}}">Show Event</a>
            </div>
        </div><!-- meetings cf -->
    </div>
</div>
