<div ng-controller="OffCanvasDemoCtrl">
    <div class="off-canvas-wrap">
        <div class="inner-wrap">
            <nav class="tab-bar">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
                </section>

                <section class="middle tab-bar-section">
                    <h1 class="title">GetActive</h1>
                </section>

                <section class="right-small">
                    <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
                </section>

            </nav>
            <a class="exit-off-canvas"></a>
            <aside class="left-off-canvas-menu"><!-- Left Off Canvas Sidebar -->
                <ul class="off-canvas-list">
                    <li>
                        <a ng-show="currentUser" ng-href="#/events">Events
                            <span ng-show="howManyEvents" class="badge">{{ howManyEvents }}</span>
                        </a>
                    </li>
                    <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
                    <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
                </ul>
            </aside><!-- End Left Off Canvas Sidebar -->
            <aside class="right-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><a href="#">Right Sidebar</a></li>
                </ul>
            </aside>
            <section class="main-section">
                <div class="small-12 columns">
